@import 'tailwindcss';

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: dark --default;
}

[x-cloak] {
  display: none !important;
}

@theme {
  --font-sans: 'Instrument Sans', sans-serif;
}

@utility bg-backdrop {
  background-color: #0006;
}